{% load static wagtailcore_tags wagtailimages_tags %}

<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      {% if settings.site_settings.HeaderSettings.logo %}
      {% image settings.site_settings.HeaderSettings.logo fill-220x50 as img %}
      <a href="/"><img src="{{img.url}}" alt="Image logo" class="img-fluid"></a>
      {% endif %}
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="{% if page.slug == 'home' %}active {% endif %} " href="/">Accueil</a></li>
        <li><a class="{% if page.slug == 'newrai' %} active {% endif %}" href="/newrai">Newrai</a></li>
        <li><a class="{% if page.slug == 'applications' %}active{% endif %}" href="/applications">Nos Applications</a>
        </li>
        <li><a class="{% if page.slug == 'nos-missions' %} active {% endif %}" href="/nos-missions">Nos Missions</a>
        </li>
        <li><a class="{% if page.slug == 'offre' %} active {% endif %}" href="/offre">Nos Offres</a></li>
        <li><a target="_blank" href="https://blog.newrai.fr/">Blog</a></li>
        <li class="dropdown"><a href="#"><span>A propos de nous</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="{% if page.slug == 'notre-vision' %}active{% endif %}" href="/notre-vision">Notre vision</a>
            </li>
            <li><a class="{% if page.slug == 'tetstimonial' %}active {% endif %}" href="/tetstimonial">Témoignages</a>
            </li>
            <li><a href="#">Facture électronique</a></li>
          </ul>
        </li>
        <li><a class="{% if page.slug == 'contact' %}active {% endif %}" href="/contact">Nous Contacter</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
<!-- ======= Hero Section  first_image.jpg ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div id="heroCarousel" data-bs-interval="5000" class="container-fluid carousel carousel-fade padding-img-carousel"
    data-bs-ride="carousel">
    <div class="swiper carousel-items">
      <div class="swiper-wrapper">
        {% for block in settings.site_settings.HeaderSettings.carousel_item %}
        {% if block.block_type == 'list_items' %}
        {% image block.value.image fill-1500x400-c100 as img %}
        <div class="swiper-slide bg-img-content" style="background-image: url('{{img.url}}');">
          <div class="carousel-container text-uppercase text-center">
            <span class="p-content">{{ block.value.description }}</span>
            <a href="{{block.value.page.url}}"
              class="btn-get-started animate__animated animate__fadeInUp scrollto btn-plus">EN
              SAVOIR + </a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
  </div>
</section>