{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main class="text-format">
    <!-- =======Newrai Digital Section ======= -->
    <section class="contact" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>{{self.title}}</h1>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info@example.com<br>contact@example.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="{% pageurl page %}" method="POST" class="bg-form">
                        {% csrf_token %}
                        <div class="row mt-3">
                            <div class="col-md-6 col-sm-6 mb-3 form-group">
                                <input type="text" name="name" id="id_name" class="form-control"
                                    value="{{ form.name.value }}" maxlength="30" placeholder="Entrer Votre Nom">
                            </div>
                            <div class="col-md-6 col-sm-6  form-group">
                                <input type="email" name="email" id="id_email" class="form-control"
                                    value="{{ form.email.value }}" maxlength="30" placeholder="Entrer Votre Email">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-sm-6 mb-3 form-group">
                                <input type="text" name="entreprise" id="id_entreprise" class="form-control"
                                    value="{{ form.entreprise.value }}" maxlength="30"
                                    placeholder="Entrer Votre Entreprise">
                            </div>
                            <div class="col-md-6 col-sm-6 form-group">
                                <input type="text" name="fonction" id="id_fonction" class="form-control"
                                    value="{{ form.fonction.value }}" maxlength="30"
                                    placeholder="Entrer Votre Fonction">
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" value="{{ form.message.value }}"
                                    placeholder="Message"></textarea>
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-success">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Newrai Digital Section -->
</main>

{% endblock %}