
{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <!-- Block Slide -->
        <div class="carousel-item active mt-3">
            <div class="carousel-container">
                
                <p class="animate__animated fanimate__adeInUp mt-3">{{self.introduction | richtext }}</p>
                <a href="/digitalisez-votre-cabinet-comptable" class="btn-get-started animate__animated animate__fadeInUp scrollto">EN SAVOIR + </a>
            </div>
        </div>

        <!-- Slide 2 -->
        {% for home_placement in self.home_placements.all  %}
            <div class="carousel-item mt-3">
                <div class="carousel-container">
                        <div class="">
                            {% image home_placement.home.image fill-460x110 as img %}
                            <a href="/"><img src="{{img.url}}" alt="" class="img-fluid"></a>
                        </div>
                        <p class="animate__animated animate__fadeInUp">{{ home_placement.home.description | richtext }}</p>
                        <a href="" class="btn-get-started animate__animated animate__fadeInUp">EN SAVOIR + </a>
                    
                </div>
            </div>
        {% endfor %}

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
        </svg>

    </section>
    <!-- End Hero -->
    <main id="main">
        <!-- =======Newrai Digital Section ======= -->
        <section class="digital">
            <div class="container">
                <div class="section-title">
                    <h2>{{self.title}}</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {% image self.image fill-546x410 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p class="fst-italic">
                            {{ self.description | richtext }}
                        </p>
                    </div>
                </div>
            </div>
        </section><!-- End Newrai Digital Section -->
    </main>

{% endblock %}