{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
    <!-- Block Slide -->
    <div class="carousel-item active mt-3">
        <div class="carousel-container">
            <p class="animate__animated fanimate__adeInUp mt-3">{{self.home_description | richtext }}</p>
            <a href="/digitalisez-votre-cabinet-comptable" class="btn-get-started animate__animated animate__fadeInUp scrollto">EN SAVOIR + </a>
        </div>
    </div>

    <!-- Slide 2 -->
    {% for home_placement in self.home_placements.all  %}
        <div class="carousel-item mt-3">
            <div class="carousel-container">
                    
                    <p class="animate__animated animate__fadeInUp">{{ home_placement.home.description | richtext }}</p>
                    <a href="" class="btn-get-started animate__animated animate__fadeInUp">EN SAVOIR + </a>
                
            </div>
        </div>
    {% endfor %}

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
    </defs>
    <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
    </g>
    <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
    </g>
    <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
    </g>
    </svg>

    </section>
    <!-- End Hero -->
    <main id="main">

        <!-- ======= Services Section ======= -->
        <section class="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 order-1 order-md-2">
                        {% image self.slogan_image fill-451x318 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <div class="fst-italic" style="font-size: 30px;color: #1e4356;">
                            {{self.slogan_description | richtext}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Why Us Section ======= -->
        <section class="why-us section-bg" date-aos-delay="200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 video-box">
                        {% image self.home_image_mission max-546x410 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>
        
                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                        <div class="section-title">
                            <h2>{{self.home_title_mission}}</h2>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-fingerprint"></i></div>
                            <h4 class="title">{{self.first_intro_mission}}</h4>
                            <div class="description">{{self.first_desc_mission | richtext}}</div>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-gift"></i></div>
                            <h4 class="title"><a href="">{{self.second_intro_mission}}</a></h4>
                            <div class="description">{{self.second_desc_mission | richtext}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Why Us Section -->
  
        <!-- ======= Features Section ======= -->
        <section class="features">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-5">
                        {% image self.home_image_vision fill-451x254 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <div class="section-title">
                            <h2>{{self.home_title_vision}}</h2>
                            <p>{{self.home_intro_vision}}</p>
                        </div>
                        <p class="fst-italic">
                            {{ self.home_desc_vision | richtext }}
                        </p>
                    </div>
                </div>
    
                <div class="row">
                    
                    <div class="col-md-5 order-1 order-md-2">
                        {% image self.home_image_project fill-451x318 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <div class="section-title">
                            <h2>{{self.home_title_project}}</h2>
                        </div>
                        <p class="fst-italic">
                            {{self.home_desc_project | richtext}}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 order-1 order-md-2">
                        {% image self.home_image_commitment fill-451x314 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <div class="section-title">
                            <h2>{{self.home_title_commitment}}</h2>
                        </div>
                        <p class="fst-italic">
                            {{self.home_desc_commitment | richtext }}
                        </p>
                    
                    </div>
                </div>
    
                <div class="row">
                    
                    <div class="col-md-5">
                        {% image self.home_image_novelty fill-451x325 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <div class="section-title">
                            <h2>{{self.home_title_novelty}}</h2>
                        </div>
                        <p>{{self.home_desc_novelty | richtext }}</p>
                    </div>
                </div>
            </div>
        </section><!-- End Features Section -->
    </main>

{% endblock %}