
{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <div class="">
                    {% image self.logo fill-460x110 as img %}
                    <a href="/"><img src="{{img.url}}" alt="" class="img-fluid"></a>
                </div>
            <p class="animate__animated fanimate__adeInUp mt-3 b-title-page">{{self.description | richtext }}</p>
            <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">EN SAVOIR + </a> -->
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
        </svg>

    </section>
    <!-- End Hero -->
    <main id="main">
        <!-- ======= Why Us Section ======= -->
        <section class="why-us section-bg" date-aos-delay="200">
            <div class="container">
                <div class="row">
                    <div class="section-title mt-3">
                        <h2>{{self.title}}</h2>
                    </div>
                    <div class="col-lg-6 video-box">
                        {% image self.image max-546x410 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>
        
                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
        
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title">{{self.introduction}}</h4>
                        <div class="description">{{self.description | richtext}}</div>
                    </div>
        
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">{{self.second_intro}}</a></h4>
                        <div class="description">{{self.second_desc | richtext}}</div>
                    </div>
        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Why Us Section -->
    </main>

{% endblock %}