{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}


<main>
    <!-- ======= Why Us Section ======= -->
    <section class="services" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="section-title">
                <h1>{{self.title}}</h1>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-3 col-md-3 mb-4 align-items-stretch">
                    <a href="/offre-digitale">
                        <div class="card img-shadow">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                {% image self.newrai_image fill-400x300 as img %}
                                <img src="{{img.url}}" class="img-fluid card-img-top" alt="{{self.title}}" />
                                <span class="card-title text-uppercase offer-text">NEWRAI DIGITAL</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 mb-4 align-items-stretch">
                    <a href="http://www.neonity.com/">
                        <div class="card img-shadow">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                {% image self.cloud_image fill-400x300 as img %}
                                <img src="{{img.url}}" class="img-fluid card-img-top" alt="{{self.title}}" />
                                <span class="card-title text-uppercase offer-text">HEBERGEMENT CLOUD</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->
</main>
{% endblock %}