{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
    <h1 class="text-center mt-5">{{self.title}}</h1>
    {% image self.bg_image width-1200 as img %}
    <main id="main" style="background-image: url({{img.url}});">
        <!-- ======= Why Us Section ======= -->
        <section class="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        {% image self.newrai_image fill-400x400 as img %}
                        <a href="https://www.google.fr/">
                            <img src="{{img.url}}" class="img-fluid img-shadow" alt="">
                        </a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        {% image self.cloud_image fill-400x400 as img %}
                        <a href="http://www.neonity.com/">
                            <img src="{{img.url}}" class="img-fluid img-shadow" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Why Us Section -->
    </main>
{% endblock %}