{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
    <section>
        <div class="section-title">
            <h1>{{self.title}}</h1>
        </div>
    </section>
    
    {% image self.bg_image width-1200 as img %}
    <main style="background-image: url({{img.url}}); background-size: cover;background-repeat: no-repeat;align-items: center; justify-content: center;">
        <!-- ======= Why Us Section ======= -->
        <section class="services">
            <div class="container">
                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        {% image self.newrai_image fill-400x400 as img %}
                        <a href="/offre-digitale">
                            <img src="{{img.url}}" class="img-fluid img-shadow" alt="">
                        </a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        {% image self.cloud_image fill-400x400 as img %}
                        <a href="http://www.neonity.com/">
                            <img src="{{img.url}}" class="img-fluid img-shadow" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Why Us Section -->
    </main>
{% endblock %}