{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
    
    <!-- End Hero -->
    <main id="main">

        <!-- ======= Services Section ======= -->
        <section class="services">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>{{self.slogan_title}}</h2>
                    </div>
                    <div class="col-md-5 order-1 order-md-2">
                        {% image self.slogan_image fill-451x318 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <div class="fst-italic" style="font-size: 30px;color: #1e4356;">
                            {{self.slogan_description | richtext}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Why Us Section ======= -->
        <section class="why-us section-bg" date-aos-delay="200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-3">
                            <iframe width="560" height="315" src="{{self.youtube_url}}" 
                                title="YouTube video player" frameborder="0" data-vbtype="video" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                            </iframe>
                    </div>
        
                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                        <div class="section-title">
                            <h2>{{self.home_title_mission}}</h2>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-fingerprint"></i></div>
                            <h4 class="title">{{self.first_intro_mission}}</h4>
                            <div class="description">{{self.first_desc_mission | richtext}}</div>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-gift"></i></div>
                            <h4 class="title"><a href="">{{self.second_intro_mission}}</a></h4>
                            <div class="description">{{self.second_desc_mission | richtext}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Why Us Section -->
  
        <!-- ======= Features Section ======= -->
        <section class="features">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-5 pt-4">
                        {% image self.home_image_vision fill-451x254 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <div class="section-title">
                            <h2>{{self.home_title_vision}}</h2>
                            <p>{{self.home_intro_vision}}</p>
                        </div>
                        <p class="fst-italic">
                            {{ self.home_desc_vision | richtext }}
                        </p>
                    </div>
                </div>
    
                <div class="row section-bg">
                    <div class="col-md-5 order-1 order-md-2 top-section">
                        {% image self.home_image_project fill-451x318 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <div class="section-title">
                            <h2>{{self.home_title_project}}</h2>
                        </div>
                        <p class="fst-italic">
                            {{self.home_desc_project | richtext}}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 order-1 order-md-2 top-section">
                        {% image self.home_image_commitment fill-451x314 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <div class="section-title">
                            <h2>{{self.home_title_commitment}}</h2>
                        </div>
                        <p class="fst-italic">
                            {{self.home_desc_commitment | richtext }}
                        </p>
                    
                    </div>
                </div>
    
                <div class="row section-bg">
                    <div class="col-md-5 top-section">
                        {% image self.home_image_novelty fill-451x325 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <div class="section-title">
                            <h2>{{self.home_title_novelty}}</h2>
                        </div>
                        <p>{{self.home_desc_novelty | richtext }}</p>
                    </div>
                </div>
            </div>
        </section><!-- End Features Section -->
    </main>

{% endblock %}