{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}

<!-- End Hero -->
<main>

    <!-- ======= Services Section ======= -->
    <section class="services" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>{{self.slogan_title}}</h1>
                </div>
                <div class="col-md-5 order-1 order-md-2">
                    {% image self.slogan_image fill-1000x800 as img %}
                    <img src="{{img.url}}" class="img-fluid" alt="{{self.slogan_title}}">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <div class="text-uppercase text-slogan">
                        {{self.slogan_description | richtext}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg">
        <div class="container">
            <div class="row padding-row">
                <div class="col-lg-6 video-box d-flex justify-content-center">
                    {% image self.home_image_mission fill-546x410 as img %}
                    <img src="{{img.url}}" class="img-fluid" alt="{{self.home_title_mission}}">
                    <span class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    </span>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1> -->
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row d-flex justify-content-center align-items-center">
                                            <div class="col-md-12 col-md-3 ms-auto">
                                                <iframe class="embed-video"
                                                    src="https://www.youtube.com/embed/pAFldyrhtjM"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                    allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="section-title">
                        <h2>{{self.home_title_mission}}</h2>
                    </div>
                    {% for item in self.related_items_for_home.all %}
                    <div class="icon-box">
                        <div class="icon"><i class="{{item.icon}}"></i></div>
                        <h4 class="title">{{item.name}}</h4>
                        <div class="description">{{item.description | richtext}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center">
                    {% image self.home_image_vision fill-546x410 as img %}
                    <img src="{{img.url}}" class="img-fluid" alt="{{self.home_title_vision}}">
                </div>
                <div class="col-md-7">
                    <div class="section-title">
                        <h2>{{self.home_title_vision}}</h2>
                        <p>{{self.home_intro_vision}}</p>
                    </div>
                    <p class="fst-italic">
                        {{ self.home_desc_vision | richtext }}
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->

    <section class="features section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-md-5 order-1 order-md-2 d-flex justify-content-center">
                    {% image self.home_image_commitment fill-546x410 as img %}
                    <img src="{{img.url}}" class="img-fluid" alt="{{self.home_title_commitment}}">
                </div>
                <div class="col-md-7 order-2 order-md-1">
                    <div class="section-title">
                        <h2>{{self.home_title_commitment}}</h2>
                    </div>
                    <p class="fst-italic">
                        {{self.home_desc_commitment | richtext }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Trust section  -->
    <section data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <h2 class="text-center">{{self.trust_intro}}</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="trust-slider swiper">
                        <div class="swiper-wrapper mb-5">
                            {% for item in self.trusts_items.all %}
                            {% image item.trusts.logo fill-200x200 as img %}
                            <div class="testimonial-item swiper-slide">
                                <img src="{{img.url}}" alt="{{item.trusts.name}}" class="img-fluid">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Why Choose Newrai section  -->
    <section class="section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <h2 class="text-center mb-4">{{self.why_choose_newrai_intro}}</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-cols-2 row-cols-md-4">
                        {% for item in self.whychoosenewrai_items.all %}
                        {% image item.whychoosenewrai.icon fill-200x200 as img %}
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img src="{{img.url}}" alt="{{item.whychoosenewrai.name}}"
                                class="mb-4 mt-4 ml-4 max-width-icon">
                            <p>{{item.whychoosenewrai.description | richtext }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}