{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main>
    <!-- ======= Why Us Section ======= -->
    <section class="why-us">
        <div class="container">
            <div class="section-title" data-aos="fade-up" date-aos-delay="200">
                <h1>{{self.title}}</h1>
            </div>
            <div class="row padding-row">
                <div class="col-lg-6 video-box d-flex justify-content-center ">
                    {% image self.image fill-546x410 as img %}
                    <img src="{{img.url}}" class="img-fluid" alt="{{self.title}}">
                    <span class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    </span>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1> -->
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row d-flex justify-content-center align-items-center">
                                            <div class="col-md-12 col-md-3 ms-auto">
                                                <iframe class="embed-video"
                                                    src="https://www.youtube.com/embed/pAFldyrhtjM"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                    allowfullscreen>
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-3" data-aos="fade-up" date-aos-delay="200">
                    {% for item in self.related_items.all %}
                    <div class="icon-box">
                        <div class="icon"><i class="{{item.icon}}"></i></div>
                        <h4 class="title">{{item.name}}</h4>
                        <div class="description">{{item.description | richtext}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->
</main>

{% endblock %}