{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main id="main">
    <!-- =======Newrai Digital Section ======= -->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>{{self.title}}</h1>
                </div>
                <div class="col-md-5 order-1 order-md-2 d-flex justify-content-center">
                    {% image self.image fill-451x318 as img %}
                    <img src="{{img.url}}" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1 d-flex justify-content-center">
                    <p class="fst-italic">
                        {{ self.description | richtext }}
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End Newrai Digital Section -->
</main>

{% endblock %}