
{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <main id="main">
        <!-- =======Newrai Digital Section ======= -->
        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h1>{{self.title}}</h1>
                        <p>{{self.introduction}}</p>
                    </div>
                    <div class="col-md-5">
                        {% image self.image fill-451x254 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <p class="fst-italic">
                            {{ self.description | richtext }}
                        </p>
                    </div>
                </div>
            </div>
        </section><!-- End Newrai Digital Section -->
    </main>

{% endblock %}