{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
<main>
    <!-- ======= Application details ======= -->
    <section class="application-details" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>{{self.title}}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->
</main>
{% endblock %}