{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
    <main id="main">
        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h1>{{self.title}}</h1>
                    </div>
                    <div class="col-md-7 pt-5 text-center d-flex flex-column justify-content-center align-item-center">
                        <p class="fst-italic mb-3">
                            {{ self.description | richtext }}
                        </p>
                        <div class="row">
                            <div class="col-md-6 text-center d-flex flex-column justify-content-center align-item-center">
                                {% if self.youtube_url %}
                                    <iframe width="560" height="315" src="{{self.youtube_url}}" 
                                        title="YouTube video player" frameborder="0" data-vbtype="video" class="venobox play-btn mb-4"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                                    </iframe>
                                {% else %}
                                    <div class="col-md-6 offset-md-6 d-flex flex-column justify-content-center align-item-center">
                                        <a class="btn btn-light" href="#">Demo</a>
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-5">
                        {% image self.image fill-400x400 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}