{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
    <main id="main">
        <!-- ======= Application details ======= -->
        <section class="application-details">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>{{self.title}}</h2>
                    </div>
                    {% for app in apps %}
                    {% with app=app.specific %}
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-img">
                                    {% image app.image fill-200x200 as img %}
                                    <img src="{{img.url}}" alt="{{app.name}}">
                                </div>
                                <div class="card-body">
                                <!-- <h5 class="card-title"><a href="#">{{app.application.name}}</a></h5> -->
                                <div class="card-text text-center">{{app.description | richtext}}</div>
                                <div class="read-more text-center"><a href="{{app.url}}"><i class="bi bi-arrow-right"></i> Read More</a></div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Why Us Section -->
    </main>
{% endblock %}