{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
    <main id="main">
        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>{{self.title}}</h2>
                    </div>
                    <div class="col-md-7 pt-5">
                        <p class="fst-italic">
                            {{ self.description | richtext }}
                        </p>
                    </div>
                    <div class="col-md-5">
                        {% image self.image fill-400x400 as img %}
                        <img src="{{img.url}}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}